{% extends 'base.html' %}

{% block content %}
<div align='center'>
  <h2 style="font-weight: bolder;">Sign up</h2><br>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}<br>
        {{ field }}
      </div>
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color:darkred; font-weight:bold" >{{ error }}</p>
        {% endfor %}
      
      {% endfor %}
    <button type="submit">Sign up</button>
  </form>
<br>
<p style=" font-weight:bold; font-size:large">Already have an account ? Login <a href="{% url 'login' %}" style="color:green;"> <u> here </u></a></p>

</div>
{% endblock %}



  